/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock:wght@400;700&display=swap');

:root {
    --neutral-0: #FFFFFF; /* Pure white */
    --neutral-500: #808080;
    --neutral-800: #313131;
    --neutral-900: #121212; /* Almost black */
}

.highlight-text {
    color: var(--neutral-500);
}

/* Reset some default browser styles */
* {
    margin: 0;
    padding: 50;
    box-sizing: border-box;
}

/* Global font settings */
body {
    font-family: "Inter", Arial; /* Base font for body text */
    background-color: var(--neutral-900);
    color: var(--neutral-0);
    line-height: 1.6;
}

/* Headings */
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    letter-spacing: 0.05em;
    line-height: 120%;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    letter-spacing: 0.05em;
    line-height: 122%;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    letter-spacing: 0.05em;
    line-height: 122%;
}

h4 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    letter-spacing: 0.05em;
    line-height: 120%;
}

h5 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    letter-spacing: 0.05em;
    line-height: 125%;
}

/* Paragraphs */
.p1 {
    font-family: 'Inter', Arial;
    font-size: 20px;
    line-height: 150%;
}


/* Nav bar styles */
#navbar {
    position: fixed; /* Keep the nav bar fixed on the page */
    top: 0; /* Fixed to the top */
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it's always above other content */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin: 10px 50px; /* Adds spacing from the sides */
}

/* Style the unordered list within the nav bar */
#navbar ul {
    list-style-type: none;
    padding: 15px 15px;
    display: flex;
    border-radius: 50px;
    backdrop-filter: blur(14px); /* Glassmorphic blur effect */
    border: 1px solid var(--neutral-800); /* Light border */
    background: rgba(21, 20, 20, 0.2);
}

/* Style the links */
#navbar ul li {
    margin: 5px 15px; /* Space between nav items */
}

#navbar ul li a {
    text-decoration: none;
    font-size: 18px;
    color: var(--neutral-500); /* Gray color for inactive links */
    transition: color 0.3s ease;
}

/* Active link styling */
#navbar ul li a.active {
    color: var(--neutral-0); /* White for active link */
}

/* Hover effect */
#navbar ul li a:hover {
    color: var(--neutral-0); /* Change color on hover */
}

/* Header */
header {
    padding: 180px;
}

.footer {
    padding: 20px; /* Padding inside the footer */
    text-align: center; /* Center the text horizontally */
    position: relative; /* Ensure relative positioning if you need to position elements inside */
    width: 100%; /* Full width of the viewport */
}

.footer p {
    color: var(--neutral-500); /* Text color */
}

/* Define the keyframes for the animation */
@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Initial state of the section */
.fade-in-section {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 2s ease-out, transform 1s ease-out; /* Increased duration */
}

/* Visible state after the animation */
.fade-in-section.visible {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* End at its original position */
}



/* For tablets and mobile devices */
/*@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    header h1 {
        font-size: 2rem;
    }

    #projects .project-list {
        flex-direction: column;
    }
} */
